@mixin flex-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header {
  @include flex-box;
  height: 12vh;
  min-width: 350px;
  padding: 0 5%;
  background: linear-gradient(to left top, #e28901, #ff895b);
  box-shadow: 0 2px 10px 0px #3b8840;

  .navbar-logo {
    height: 8vh;
  }
  ul {
    list-style: none;
    @include flex-box;
    margin: auto;
    li {
      position: relative;

      .nav-label {
        position: absolute;
        top: -10px;
        left: 20px;
        font-size: 1rem;
      }
      .nav-data {
        font-size: 2.3rem;
        font-weight: bold;
      }
    }
    * {
      padding: 0 20px;
    }
    button {
      box-shadow: inset 0px 1px 0px 0px #f5978e;
      background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
      background-color: #f24537;
      border-radius: 6px;
      border: 1px solid #d02718;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;

      font-weight: bold;
      padding: 5px 20px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #810e05;
      &:hover {
        background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        background-color: #c62d1f;
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .nav-label {
    font-size: 0.5rem !important;
  }
  .nav-data {
    font-size: 1.5rem !important;
  }
  header {
    button {
      font-size: 0.8rem;
      padding: 2px 10px;
    }
  }
}
@media only screen and (max-width: 480px) {
  .navbar-logo {
    height: 10vmin !important;
  }
  ul {
    padding: 0 !important;
    li {
      padding: 0;
    }
  }
}
